<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Pagamento paypal</title>
</head>
<body>
    <div class="container">
        <form action="/comprar" method="post">
            <input type="email" name="email" id="email" class="input">
            <input type="number" name="id" id="id" class="input">
            <button type="submit" class="button is-primary">Comprar</button> 
         </form>
    </div>
    
</body>
</html>
